.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.mp-image {
	object-fit: cover;
	object-position: top;
	max-height: 290px;
}

.image {
	background: url("404.jpeg") !important;
	height:290px;
}

.mp-container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.mp-animation-enclosure {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 50%;
	overflow: hidden;
}

.extra-content {
	display: flex;
    align-items: center;
	justify-content: space-between;
	max-height:50px;
}

.mp-start-date {
	flex-grow:1;
}

.mp-animation-enclosure {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 50%;
	overflow: hidden;
}

@media screen and (max-width: 414px) {
	.mp-animation-enclosure {
		width: 100%;
	}
}
