.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.ui.space-around.cards {
	justify-content: space-around;
}

.mp-image {
	object-fit: cover;
	object-position: top;
	max-height: 290px;
}

.image {
	background: url("404.jpeg") !important;
	height:290px;
}
